<template>
    <div>
        <%=name%>
    </div>
</template>
<script>
export default {
    name: "<%=name%>",
    created() {

    },
    mounted() {
        
    },
    activated() {
        
    },
    computed: {

    },
    methods: {
        
    },
    destroyed() {
        
    },
    deactivated() {
        
    },
}
</script>